.newSong {
  color: #007bff !important;
  font-weight: 700;
}

.newSong:hover {
  color: blue !important;
}

.song2020 {
  color: red !important;
  font-weight: 700;
}

.song2020:hover {
  color: darkred !important;
}

.songList {
  font-family: "Roboto", "sans-serif";
  margin: 30px 0px;
  padding-right: 15px;
}

.songList:first-child {
  margin-left: -15px;
}

@media only screen and (max-width: 991px) {
  .songList {
    margin: 10px -15px;
  }
}
