.jumbotron {
  background: black;
  background-attachment: scroll;
  background-image: url("https://res.cloudinary.com/curtiscdn/image/fetch/http://u.cubeupload.com/curtisyungen/58dstevecoversmall.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0px;
  max-height: 350px;
  max-width: 100% !important;
  overflow: hidden !important;
  padding-bottom: 8rem;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 1rem !important;
  position: relative;
}

.jumbotron-contact {
  background-image: url("https://res.cloudinary.com/curtiscdn/image/fetch/http://u.cubeupload.com/curtisyungen/craterlakepano.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-events {
  background-image: url("https://res.cloudinary.com/curtiscdn/image/fetch/http://u.cubeupload.com/curtisyungen/jacksonvillepanomin.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-music {
  background-image: url("https://res.cloudinary.com/curtiscdn/image/fetch/http://u.cubeupload.com/curtisyungen/ocean1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-gallery {
  background-image: url("https://res.cloudinary.com/curtiscdn/image/fetch/http://u.cubeupload.com/curtisyungen/oldstagepano.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-support {
  background-image: url("https://res.cloudinary.com/curtiscdn/image/fetch/http://u.cubeupload.com/curtisyungen/hawaiigreenmin.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
