.copyright {
  bottom: 25px;
  color: rgb(200, 200, 200);
  font-size: 14px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
}

.footer {
  background: rgb(17, 17, 17);
  color: white;
  height: 300px;
  max-width: 100% !important;
  overflow-x: hidden !important;
  position: relative;
  text-align: center;
}

.footer-inner {
  padding: 40px 60px;
}
